body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  font-family: Helvetica;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 200px;
  background: #202020;
  min-height: 100vh;
}

.comments,
.comment {
  margin: 0;
  padding: 0;
  list-style: none;
}

.comment,
.add-form {
  width: 596px;
  box-sizing: border-box;
  background: radial-gradient(
    75.42% 75.42% at 50% 42.37%,
    rgba(53, 53, 53, 0) 22.92%,
    #7334ea 100%
  );
  filter: drop-shadow(0px 20px 67px rgba(0, 0, 0, 0.08));
  border-radius: 20px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.comment {
  padding: 48px;
}

.comment-header {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.comment-footer {
  display: flex;
  justify-content: flex-end;
}

.comment-body {
  margin-top: 32px;
  margin-bottom: 32px;
}

.comment-text {
  font-size: 32px;
}

.likes {
  display: flex;
  align-items: center;
}

.like-button {
  all: unset;
  cursor: pointer;
}

.likes-counter {
  font-size: 26px;
  margin-right: 8px;
}

.like-button {
  margin-left: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M11.11 16.9482L11 17.0572L10.879 16.9482C5.654 12.2507 2.2 9.14441 2.2 5.99455C2.2 3.81471 3.85 2.17984 6.05 2.17984C7.744 2.17984 9.394 3.26975 9.977 4.75204H12.023C12.606 3.26975 14.256 2.17984 15.95 2.17984C18.15 2.17984 19.8 3.81471 19.8 5.99455C19.8 9.14441 16.346 12.2507 11.11 16.9482ZM15.95 0C14.036 0 12.199 0.882834 11 2.26703C9.801 0.882834 7.964 0 6.05 0C2.662 0 0 2.6267 0 5.99455C0 10.1035 3.74 13.4714 9.405 18.5613L11 20L12.595 18.5613C18.26 13.4714 22 10.1035 22 5.99455C22 2.6267 19.338 0 15.95 0Z' fill='%23BCEC30' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.like-button.liked {
  margin-left: 10px;
  background-image: url("https://www.pngfind.com/pngs/m/315-3159127_heart-icon-tinder-green-heart-png-transparent-png.png");
  width: 24px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: cover;
}

.add-form {
  padding: 20px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
}

.add-form-name,
.add-form-text {
  font-size: 16px;
  font-family: Helvetica;
  border-radius: 8px;
  border: none;
}

.add-form-name {
  width: 300px;
  padding: 11px 22px;
}

.add-form-text {
  margin-top: 12px;
  padding: 22px;
  resize: none;
}

.add-form-row {
  display: flex;
  justify-content: flex-end;
}

.add-form-button {
  margin-top: 24px;
  font-size: 24px;
  padding: 10px 20px;
  background-color: #bcec30;
  border: none;
  border-radius: 18px;
  cursor: pointer;
}

.add-form-button:hover {
  opacity: 0.9;
}

.-error {
  border: 1px solid red;
}

.link-login {
  text-decoration: underline;
}

.add-form {
  padding: 20px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
}
.add-form-name,
.add-form-text {
  font-size: 16px;
  font-family: Helvetica;
  border-radius: 8px;
  border: none;
}
.add-form-name {
  width: 540px;
  padding: 11px 22px;
  margin-bottom: 12px;
}

.add-form-name:read-only {
  background-color: #d2ddd2;
  color: #363636;
  font-weight: bold;
}

.add-form-registry {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: none;
  padding-left: 0;
}

.add-form-button-main {
  width: 100%;
  margin-top: 24px;
  font-size: 24px;
  padding: 10px 20px;
  background-color: #bcec30;
  border: none;
  border-radius: 18px;
  cursor: pointer;
}

.add-form-button-link {
  text-align: center;
  padding-top: 22px;
  color: white;
  cursor: pointer;
  border-bottom: inherit;
}

.add-form-button-exit {
  width: 50px;
  margin-left: auto;
  font-size: 12px;
  background-color: #acb78b;
  border: none;
  border-radius: 18px;
  cursor: pointer;
}
.post-image-container {
  margin-left: -40px;
  margin-right: -20px;
  height: 500px;
  display: flex;
  justify-content: center;
  background-color: #e0e0e0;
  overflow: hidden;
}

.post-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.header-container {
  margin-bottom: 8px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 32px 20px;
}

.logo {
  margin: 0;
  font-size: 38px;
  cursor: pointer;
  width: 130px;
}
.header-button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}
.add-post-sign {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122.88 122.88'%3E%3Ctitle%3Eadd%3C/title%3E%3Cpath d='M61.44,0A61.46,61.46,0,1,1,18,18,61.25,61.25,0,0,1,61.44,0ZM88.6,56.82v9.24a4,4,0,0,1-4,4H70V84.62a4,4,0,0,1-4,4H56.82a4,4,0,0,1-4-4V70H38.26a4,4,0,0,1-4-4V56.82a4,4,0,0,1,4-4H52.84V38.26a4,4,0,0,1,4-4h9.24a4,4,0,0,1,4,4V52.84H84.62a4,4,0,0,1,4,4Zm8.83-31.37a50.92,50.92,0,1,0,14.9,36,50.78,50.78,0,0,0-14.9-36Z'/%3E%3C/svg%3E");
  height: 40px;
  width: 40px;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}
.logout-button {
  width: 130px;
  text-align: right;
  background-color: transparent;
  font-size: 20px;
  line-height: 18px;
  font-weight: 500;
}

.post-likes {
  margin-left: -10px;
  margin-top: 12px;
  gap: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
}

.post-text {
  margin-top: 8px;
  gap: 12px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-date {
  margin-top: 4px;
  color: #8a8a8a;
}

.post {
  margin-top: 40px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-title {
  font-size: 36px;
  line-height: 35px;
  text-align: center;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 30px;
  font-size: 14px;
}
.form-footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#login-input {
  height: 48px;
  box-sizing: border-box;
  padding: 15px;
  font-size: 18px;
  line-height: 18px;
  color: rgb(4, 18, 27);
  border: none;
  border-radius: 8px;
}

#name-input {
  height: 48px;
  box-sizing: border-box;
  padding: 15px;
  font-size: 18px;
  line-height: 18px;
  color: rgb(4, 18, 27);
  border: none;
  border-radius: 8px;
}
#password-input {
  height: 48px;
  box-sizing: border-box;
  padding: 15px;
  font-size: 18px;
  line-height: 18px;
  color: rgb(4, 18, 27);
  border: none;
  border-radius: 8px;
}

#login-button {
  height: 60px;
  display: block;
  padding: 10px 13px 13px;
  font-size: 24px;
  line-height: 22px;
  border-radius: 8px;
  background-color: #565eef;
  color: #ffffff;
  border: none;
}

.form-footer {
  margin-top: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.post-header__user-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 40px;
  margin-right: 10px;
}
ul.posts li {
  list-style-type: none;
}

.delete-button {
  position: absolute;
  background-color: #0b6345c2;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 88%;
  margin-top: -4%;
}

.delete-button:hover {
  background-color: #d32f2f;
  z-index: 1000;
}

.loading-page {
  display: flex;
  align-items: center;
  align-content: center;
}
.page-header {
  display: flex;
  align-items: center;
  align-content: center;
}
h1 {
  margin-top: 6%;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 4%;
}
.button,
.secondary-button {
  display: block;
  padding: 10px 13px 13px;
  font-size: 18px;
  line-height: 22px;
  border-radius: 5px;
  background-color: #565eef;
  color: #ffffff;
  border: none;
}
.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
}
.form-row {
  display: flex;
  font-size: 18px;
  line-height: 22px;
  border-radius: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
#upload-image {
  width: 66%;
  height: 45px;
  font-size: 24px;
  line-height: 22px;
  border-radius: 8px;
  margin-bottom: 62px;
}
#image-url-input {
  width: 66%;
  height: 45px;
  font-size: 24px;
  line-height: 22px;
  border-radius: 8px;
  margin-bottom: 32px;
}
#description-input {
  width: 66%;
  height: 45px;
  font-size: 24px;
  line-height: 22px;
  border-radius: 8px;
  margin-bottom: 32px;
  padding: 0;
}
#add-button {
  width: 100%;
  height: 45px;
  font-size: 24px;
  line-height: 22px;
  border-radius: 8px;
  margin-bottom: 32px;
}

.posts {
  margin-left: -2%;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #08875cb8;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.3s ease;
}

#back-to-top-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#back-to-top-btn.show {
  display: block;
}
